body {
    resize:inherit;
    padding-top: 40px;
    padding-bottom: 20px;
    background-image:url(Image/Operator.jpg)
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    text-decoration: wavy;
    width: 75%;
    height: 30%;
    border-radius: 50px 50px 50px 50px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-header {
    max-width: 280px;
}
.navbar-custom {
    max-height: 3em;
    text-size-adjust:auto;
    padding-left: 10px;
    padding-right: 10px;
    
}
.nav.navbar-nav.navbar-right li a {
    color: blue;
}
.nav.navbar-nav.navbar-nav li a {
    color: blue;
    
}

.container body-content {
    max-width: 50%;
    

}
