@{
    ViewBag.Title = "Home Page";
}

<div>

    <div class="card transition">
        <h1 class="transition">Sales Blitz   </h1>
        <h2> Score Beyond Your Goals</h2>


        <div class="cta-container transition cta">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</div>
        <div class="cta-container2 transition cta">@Html.ActionLink("Thank you", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
        <div class="card_circle transition"></div>
    </div>
</div>  